<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sketch</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
</head>

<body>

    <!-- <div class="container">
      <nav>
        <div class="nav-brand">
          rg.
        </div>
        <div class="nav-items">
          <ul class="nav-links">
            <li><a href="#" class="nav-link">projects</a></li>
            <li><a href="#" class="nav-link">help</a></li>
          </ul>
        </div>
        <button class="btn-secondary">Github</button>
      </nav>
      <section class="home">
        <div class="text-section">
          <h1 class="large-title">Sketch.</h1>
          <p class="text-muted">Generating Code from a Hand-drawn Web Mockups</p>
    
          <button type="button" class="button" method="post" action="/" enctype="multipart/form-data">
            <span class="button__text">Upload</span>
            <input type="file" name="file" class="form-control" autocomplete="off" required>
            <span class="button__icon">
              <ion-icon name="cloud-upload-outline"></ion-icon>
            </span>
          </button>
          <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
          
          <form method="POST" action="/" enctype="multipart/form-data">
            <dl>
                <p>
                    <input type="file" name="pic" class="form-control" autocomplete="off" required>
                </p>
            </dl>
            <p>
                <input type="submit" value="Upload a file" class="btn btn-info">
            </p>
        </form>

        </div>
        <div class="jumbotron-img">
          <img src="/static/img/gru-body.png">
        </div>
      </section>
    </div>   -->

    <form action="/upload" enctype="multipart/form-data" method="POST"> 
      <input type="file" name="pic"/>
      <input type="submit" value="Upload a file"/>
   </form>

</body>
</html>